<%= render "errors", obj: @questionnaire %>

<table class="attr">
  <tr>
    <th><%= form.label :full_name, "氏名" %></th>
    <td><%= form.text_field :full_name %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td>
      <%= form.radio_button :gender, 0 %>
      <%= form.label :gender_0, "男" %>
      <%= form.radio_button :gender, 1 %>
      <%= form.label :gender_1, "女" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :comment, "ご意見・ご感想" %></th>
    <td><%= form.text_area :comment %></td>
  </tr>
</table>
